*\#*
*~
*__pycache__/*
*.pyc
.ipynb_checkpoints
!*/.gitkeep
configs/local.yaml
*.prof
checkpoints
wandb
direct_bind
*.sif
artifacts
lightning_logs
time_warps
artifacts
outputs/*
prior_work
*.pt
notebooks
.vscode
